.modal {
}

.modal.open .modal__overlay,
.modal.open .modal__window {
    opacity: 1;
    z-index: 1000;
}

.modal.hide .modal__overlay,
.modal.hide .modal__window {
    opacity: 1;
    z-index: 1000;
}

.modal.open .modal__window {
    transform: translateY(25vh);
}

.modal.open .modal__overlay {
    background: rgba(0, 0, 0, 0.5);
}

.modal.hide .modal__window {
    transform: translateY(-100vh);
}

.modal.hide .modal__overlay {
    background: rgba(0, 0, 0, 0);
}

.modal__window,
.modal__overlay {
    opacity: 0;
    z-index: -1;
}
.modal__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease-in;
}

.modal__window {
    width: 600px;
    border-radius: 10px;
    background: #fff;
    margin: 0 auto;
    font-size: 24px;
    transform: translateY(-100vh);
    transition: transform 0.3s ease-in;
}

.modal__header {
    font-weight: 700;
    padding: 30px;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
}

.modal__close {
    line-height: 40px;
    cursor: pointer;
}

.modal__main {
    padding: 30px;
}

.modal__footer {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    font-size: 18px;
    width: 20%;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.btn:hover {
    transform: scale(1.1);
}

.btn__primary {
    background: blue;
    padding: 10px;
}

.btn__danger {
    background: red;
    padding: 10px;
}
